#title {
  color: rgb(143, 44, 90);
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 25px;
}

#cardId {
  margin-bottom: 15px;
}

a:hover {
  text-decoration: none;
}

#cardText, #herokuLink{
  color:  rgb(143, 44, 90);
}